@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: kanit, sans-serif;
}

.show {
  display: flex;
  animation: show 3000ms;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#bef264, #67e8f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
